.container1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 300px 50px;
    height: 300px;
    
    
  }
  
  
  
  .image-container1 {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    background-image: linear-gradient(255,0,0,0,0.2);
    
  }
  
  .centered-image1 {
    width: 100%; 
    height: auto; 
  }
  
  .text-overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

  }

  .container3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 300px 50px;
    height: 300px;
    
    
  }
  .image-container3{
  position: relative;
    max-width: 500px;
    max-height: 500px;
  }
  .centered-image3{
    width: 100%; 
    height: auto; 
  }
  .newyear{
    display: flex;
    justify-content:right;
    align-items: flex-end;
    padding-left: 70px;
    padding-top: 90px;
    padding-bottom: 40px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 150px;


}
  
  .text-overlay3 p{
    position: absolute;
    padding: 50px;
    padding-bottom: 60px;
    padding-top: 30px;
    font-size: 12px;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-wrap:wrap;
    
    

  }
  .text-overlay3 h1{
    position: absolute;
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 40px;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-wrap:wrap;
  }
  .container6{
    padding: 30px, 30px, 30px, 150px;
    display: flex;
  }
  .container6  .con63{
    width: 1320px;
    height: 229px;

  }
  .container6 .con62{
    
  }
 
 